* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

#main-content {
    background-color: #c7bd68;
    border-radius: 2rem;
    max-height: 60vh;
    margin-right: 1rem;
    width: 100%;
}

#cytoscape-graph {
    width: 100% !important;
    height: 100% !important;
}